.sobremi {
  display    : flex;
  align-items: center;
}

.sobremi h1,
.sobremi p {
  margin-left: 2rem;
}

.text h1 {
  font-size  : 2.7em;
  font-family: 'Maven Pro', sans-serif
}

.text p {
  font-size  : 18px;
  line-height: 1.5;
  font-family: 'Maven Pro', sans-serif;
  padding-top: 2rem
}

.sect h4:first-child {
  margin-bottom: -4rem;
}

.sect h4:last-child {
  margin-top: -2rem;
}



.text {
  /* max-width: 600px; */

  /* background-color: red; */
  flex: 1;
}

.img {
  flex           : .7;
  display        : flex;
  justify-content: flex-end;
}

/* animacion */
/* 
.animatedinfo {
  position: relative;
}



.animateditem {
  color: #F5691A;
  font-size             : 38px;
  overflow           : hidden;
  position              : absolute;
  animation             : BottomTotop 5s linear infinite 0s;
}
.animateditem:nth-child(2n+2) {
  animation-delay: 2s;
}

.animateditem:nth-child(3n+3) {
  animation-delay: 4s;
}


@keyframes BottomTotop {
  0% {
    opacity: 0;
  }

  5% {
    opacity  : 0;
    transform: translateX(-5px);
  }

  10% {
    opacity  : 1;
    transform: translateX(0px);
  }

  25% {
    opacity  : 1;
    transform: translateX(0px);
  }

  30% {
    opacity  : 0;
    transform: translateX(5px);
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
} */




.animated {
  position: relative;
}

.animatedinfo {
  /* display: inline-block; */
  /* vertical-align: top; */
  /* margin-top: 5px; */
  /* min-width: 260px; */
  position: relative;
}

.animateditem {
  color: #F5691A;
}



.animateditem {
  font-size  : 32px;
  line-height: inherit;
  display    : block;
  opacity    : 0;
  overflow   : hidden;
  position   : absolute;
  top        : 0;
  right      : 0;
  left       : 0;
  animation  : BottomTotop 6s linear infinite 0s;
  
}
.animateditem:nth-child(2n+2) {
  animation-delay: 2s;
}
.animateditem:nth-child(3n+3) {
  animation-delay: 4s;
}
/* .animateditem:nth-child(3) {
  animation-delay: 6s;
} */
@keyframes BottomTotop {
  0% {
    opacity: 0;
  }

  5% {
    opacity  : 0;
    transform: translateX(-5px);
  }

  10% {
    opacity  : 1;
    transform: translateX(-0px);
  }

  25% {
    opacity  : 1;
    transform: translateX(-0px);
  }

  30% {
    opacity  : 0;
    transform: translateX(-5px);
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

